body{
    background-color: yellowgreen;
}
.socials{
    color: blue; background-color: beige;
}
.hands{
    color: blueviolet; background-color: aquamarine;
}
.feet{
    color: white; background-color: black; font-family: Georgia, 'Times New Roman', Times, serif;
}